
body
{

	background-color: #E6E6E6;
	margin: 0px;
}
header
{
	background-color: #01A9DB;
	width: 1920px;
	box-shadow: inset 0px 0px 25px #045FB4;
	vertical-align: middle;
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	position: fixed;
	top: 0px;
	padding-left: 38%;
	position: center;
}
h1
{
	color: black;
	text-align: center;
	font-size: 50px;
	font-family: sans-serif;
	text-shadow: 0px 0px 10px white;
	padding: 5px;
	text-decoration: underline;
}
h2
{
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	
}
menu
{
	background-color: white;
	padding-bottom: 500px;
	width: 1000px;
	margin: 0 auto;
	box-shadow: inset 0px 0px 50px #D8D8D8, 0px 0px 50px #BDBDBD;
	text-align: left;
	text-decoration: none;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3%;
	line-height: 400%;
	text-align: center;
}
options
{
	line-height: 0pt;
}
.button
{
	background: #F2F2F2;
    text-align: center;
	font-size: 10px;
    font: sans-serif;
	color: black;
	padding: 3px;
	font-size: 20px;
	border: 1px solid black;
	text-decoration: none;
}
.button:hover
{
	box-shadow: 0px 0px 5px black;
}
.menuButton
{
	text-decoration: none;
	font-size: 35px;
	color: black;
	font-family: sans-serif;
}
.menuButton:hover
{
	text-decoration: underline;
}
.right
{
	float: right;
}
blocker 
{
	clear: right;
}
p
{
	line-height: 100%;
	font-family: sans-serif;
	text-align: left;
}
h3
{
	font-family: sans-serif;
	text-align: left;
}
h4
{
	font-family: sans-serif;
	text-align: left;
}
